.conversor{
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-width: 0px;
    box-shadow: 1px 4px 8px 1px #035928;
    border-radius: 5px;
}

.input{
    border-radius: 5px;
    border-width: 1px;
    height: 32px;
    font-size: 15px;
    font-weight: bold;
    max-width: 100px;
}

.button{
    margin: 5px 0 0 15px;
    width: 120px;
    height: 38px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 20px;
    text-align: center;
    background-color: #035928;
    color: white;
}

.result{
    width: 120px;
    height: 34px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #035928;
    margin:10px 0 10px 0;
    color: white;
}

.title2{
    color: #035928;
}