.conversor{
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: stretch;
    padding: 20px;
    margin: 10px;
    border-width: 0px;
    box-shadow: 1px 4px 8px 1px #035928;
    border-radius: 5px;
}

.title2{
    flex: 1;
    color: #035928;
}

.inputs2{
    display: flex;
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.input{
    flex: 1;
    width: 120px;
    height: 35px;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: #035928;
    font-size: 25px;
    font-weight: bold;
}

.btn{
    flex: 1;
    width: 124px;
    height: 39px;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    background-color: #035928;
    color: white;
    font-size: 20px;
}

.result{
    flex: 1;
    width: 120px;
    height: 35px;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    background-color: #94F29A;
    color: white;
    font-size: 20px;
}
