.app{
    display: flex;
    flex:1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.item{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.top{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #219669;
    padding: 10px;
}

.header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.contentHeader{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    padding-bottom: 10px;

    border-bottom: 1px solid #ffffff3d;
}

.topCurr{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.curr1{
    background-image: url('./assets/euaFlag.png');
    background-repeat: round;
    width: 30px;
    height: 20px;
}

.curr2{
    background-image: url('./assets/euroFlag.jpg');
    background-repeat: round;
    width: 30px;
    height: 20px;
}

.divCurr{
    display: flex;
    flex: 3;
    margin:0px 15px 0px 15px;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px -5px #FFFFFF;
    padding: 5px;
}
.textCurr{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.title{
    display: flex;
    flex: 1;
    color:white;
    align-items: center;
    justify-content: center;
    
}

.textTitle3{
    flex: 1;
    color: #FFFFFF;
    margin-bottom: 100px;
    margin-top: 75px;
    font-size: 45px;
}

.textTitle2{
    flex: 1;
    color: #FFFFFF;
    margin-bottom: 100px;
    margin-top: 75px;
    font-size: 80px;
}

.textTitle1{
    flex: 1;
    color: #FFFFFF;
    margin-bottom: 100px;
    margin-top: 75px;
    font-size: 100px;
}

.logo{
    flex: 1;
    background-image: url('./assets/logo192.png');
    background-repeat: round;
    background-color: white;
    border-radius: 32.5px;
    max-width: 65px;
    min-width: 65px;
    height: 65px;
    margin-left: 5px;
}

.body{
    flex:1;
    margin-bottom: 90px;
    min-height:100%;
    margin-top: 15%;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.itemContent{
    flex: 1;
    max-width: 1000px;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 300;
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.divItemContainer{
    display: flex;
    flex: 1;
    border-bottom: 1px solid #219669;
    width: 100%;
}

.logoMoney{
    flex: 1;
} 

.logoMoneyImg{
    width: 200px;
}

.logoTravel{
    flex: 1;
} 

.logoTravelImg{
    width: 200px;
}

.itemContainer{
    flex: 1;
    max-width: 1000px;
    font-size: 30px;
    color: #000000;
    font-weight: 500;
    padding-bottom: 15px;
}


.itemConteinerTitle{
    flex: 1;
    max-width: 1000px;
    font-size: 45px;
    color: #219669;
}

.logoBank{
    flex: 1;
    max-width: 1000px;
    font-size: 30px;
    color: #219669;
    font-weight: 400;
    padding-bottom: 15px;

    border-bottom: 1px solid #219669;
    width: 100%;
} 

.logoBankImg{
    width: 200px;
}

.footer{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 80px;
    background-color: #29bc83;
}

.itemFooter{
    flex: 1;
}

.externalLink{
    text-decoration-color: #0073cf;
    color: #0073cf;
}